@font-face {
  font-family: 'pixel-font';
  src: url("./Assets/pixel.woff2") format('woff2');
  font-weight: normal;
    font-style: normal;
}

body {
  display: flex;
  font-family: 'pixel-font', sans-serif;
  color: white;
  background-color: #45454b;
  font-size: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

#character-container {
  display: flex;
  flex-direction: column;
  padding: 8;
}

#action-list {
  display: flex;
  flex-direction: column;
  padding: 8;
}

#log {
  border: 1px solid #aaa;
}

#main-view {
  display: flex;
  flex: 1;
}
