.action-button {
  min-width: 120px;
  max-width: 120px;
  width: 120px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #f88379;
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
}

#action-description {
  margin-left: 10px;
  font-weight: 400;
}

.button-seperator {
  flex: 1 0 10px;
  max-width: 10px;
}

.action-button:hover {
  background-color: #f44232;
}

/* Reset */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
