#tab-list {
  display: flex;
  flex-direction: column;
  width: 100px;
  border-radius: 4px;
}

#main-view {
  padding-left: 12px;
  display: flex;
  flex: 1;
}

#container {
  display: flex;
}

.tab {
  display: flex;
  align-content: center;
  padding: 12px 0px;
  padding-left: 10px;
  border-left: 5px solid rgba(240, 240, 240, 0.2);
  background-color: rgba(240, 240, 240, 0.15);
  cursor: pointer;
  color: #fff;
  transition: border 0.3s;
}

.selected {
  border-left: 5px solid #f88379;
}

.view-container {
  display: none;
  flex: 1;
}

.visible {
  display: flex;
}
