.meter {
  position: relative;
 
  width: 100%;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.4);
}

#label {
  position: absolute;
  top: 2px;
  left: 8px;
  color: #f1f1f1;
  z-index: 1;
}

#progress-value {
  position: absolute;
  top: 2px;
  right: 6px;
  color: #f1f1f1;
  z-index: 1;
}

#progress-template {
  display: flex;
  flex: 1;
}

#progress {
  height: 20px;
 
  transition: transform 0.09s linear;
}

.meter > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}
