#character-sheet {
   display: flex;
   flex-direction: column;
}

.attributes {
   margin-top: 10px;
   margin-bottom: 4px;
   display: flex;
   flex-direction: column;
}

.attribute {
   display: flex;
   flex-direction: column;
   margin-bottom: 2px;
}

.container {
   padding: 6px;
   background-color: rgba(240, 240, 240, 0.15);
}

.top {
   margin-top: 0px;
}

.character-status {
   display: flex;
   flex-direction: column;
}

.character-effect-row {
   display: flex;
   padding: 3px 0px;
   width: 100%;
}

#buffs-container {
   display: flex;
   flex-direction: column;
}

.character-effect-duration {
   margin-left: auto;
}

.title {
   color: #78dce8;
   font-size: 12px;
   margin-top: 8px;
   padding-bottom: 2px;
}

#attributes-container {
   margin-bottom: 6px;
}

#character-status {
   display: flex;
   flex-direction: column;
}

.secondary-attributes {
   margin-top: 4px;
}

.attribute-details {
   display: flex;
}

.bar {
   flex: 1;
   display: flex;
   padding: 3px 0px;
}

.max-value {
   width: 80px;
   text-align: end;
   margin-left: auto;
}

.attribute-label {
   width: 140px;
}

.attribute-value {
   width: 80px;
   text-align: end;
   margin-left: auto;
}
