.jobs-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
}

.jobs-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 6px;
}

.jobs-header {
  padding: 6;
  display: flex;
  justify-content: center;
  align-content: center;
}

.jobs-item {
  padding: 6px;
  border-radius: 4px;
  background-color: rgba(240,240,240, 0.15);
  margin: 5px 0px;
  width: 190px;
  display: flex;
  flex-direction: column;
}

.jobs-item:hover {
}

.jobs-select-button {
 margin-left: auto;

}
