.jobs-container {
    display: flex;
    flex-wrap: wrap;
}

.jobs-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 6px;
}

.jobs-header {
  padding: 6;
  display: flex;
  justify-content: center;
  align-content: center;
}

.jobs-item {
  padding: 6px;
  border-radius: 4px;
  background-color: rgba(240,240,240, 0.15);
  margin: 5px 0px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  width: 190px;
}

.jobs-item:hover {
  box-shadow: 0px 0px 3px 2px rgba(240,240,240, 0.4)
}
