.secondary-attributes-label {
  z-index: 1;
}

.secondary-attributes {
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
}

.secondary-attribute {
  display: flex;
  padding-bottom: 3px;
  font-size: 12px;
}

.secondary-attributes-value {
  margin-left: auto;
}

