#character-sheet {
  display: flex;
  flex-direction: column;
}

.attributes {
  margin-top: 10px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
}

.attribute {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.container {
  padding: 6px;
  border-radius: 4px;
  background-color: rgba(240,240,240, 0.15);
}

.top {
  margin-top: 0px;
}

.title {
  color: #78DCE8;
  font-size: 13px;
  padding-bottom: 6px;
}

#attributes-container {
  margin-bottom: 6px;
}

.secondary-attributes {
  margin-top: 4px;
}

.attribute-details {
  display: flex;
}

#face {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: rgba(240,240,240, 0.85);
}

.bar {
  flex: 1;
  display: flex;
  padding: 3px 0px;
}

.max-value {
  width: 80px;
  text-align: end;
  margin-left: auto;
}

.attribute-label {
  width: 140px;
}

.attribute-value {
  width: 80px;
  text-align: end;
  margin-left: auto;
}
